---
layout: page
title: Arduino projects
excerpt: "Arduino modules, projects and hints by Karttur"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

Arduino is an open-source hardware and software company,
project and user community that designs and manufactures
single-board microcontrollers and microcontroller kits for
building digital devices. Arduino boards are available
in preassembled form or as do-it-yourself (DIY) kits.

Arduino board designs use a variety of microprocessors
and controllers. The boards are equipped with sets of digital
and analog input/output (I/O) pins that may be interfaced to
various expansion boards ('shields') breakout boards (pre-assembled electronic
comonents) or prototyping breadboards and other circuits.

In this repo, the focus is on developing envrion-sensing
electronic devices using Arduino. In particular spactral analysis.
The repo is thus divided in 6 main categories:
<ul>

  <li><a href="../ide/index.html">IDE (Arduino Integrated Development Environment)</a></li>
  <li><a href="../project/index.html">Projects (sketch and wiring tuorials for various modules)</a></li>
  <li><a href="../module/index.html">Modules (integrated electronic components, usually directly useful for Arduino wiring and sketching)</a></li>
  <li><a href="../sensor/index.html">Sensor (environmental senors, usually available as modules)</a></li>
  <li><a href="../component/index.html">Components (Other types of electronic components)</a></li>
  <li><a href="../blog/index.html">Blog (information that does not fit the above)</a></li>
</ul>

<h4><a href="../projects/">Arduino projects incuding hardware and software integration.</a><h4>
<ul class="post-list">
{% for post in site.categories.project limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h4><a href="../modules/">Various arduino boards and modules</a><h4>
<ul class="post-list">
{% for post in site.categories.module limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h4><a href="../components/">Arduino components (can be pats of modules or just electronic component I need to remember)</a><h4>
<ul class="post-list">
{% for post in site.categories.component limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h4><a href="../sensors/">Reviews and links to external sensors</a><h4>
<ul class="post-list">
{% for post in site.categories.sensor limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h4><a href="../arduino/">Arduino wiring and spetching (but not a complete project)</a><h4>
<ul class="post-list">
{% for post in site.categories.arduinoide limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
